body{
    background-image: url(./images/johannes-plenio-RwHv7LgeC7s-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    position: relative;
    width: 600px;
    height: 650px;
    background: transparent;
    border: 1px solid whitesmoke;
}
.screen:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: -1;
}